.container main {
  width: 55%;
  margin: 0 auto;
}

.container main .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container main h1 {
  color: #2d3640;
  font-size: 38px;
  margin: 15px 0;
  font-family: "Roboto", sans-serif;
}

.menu input[type="text"] {
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  padding: 12px 10px;
  width: 40%;
  border-radius: 5px;
  font-size: 18px;
  color: #777777;
}

.menu input[type="text"]:focus {
  outline: none;
}

.selectBox {
  position: relative;
  width: 40%;
}

.selectBox .select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  font-size: 18px;
  padding: 12px 10px;
  outline: none;
  color: #777777;
}

.selectBox::after {
  pointer-events: none;
  content: "";
  justify-self: end;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 13px;
  height: 10px;
  background-color: grey;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  transition: 0.5s;
}

.menu button {
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  font-size: 18px;
  color: #777777;
  background-color: #fff;
}

.menu button .icon {
  font-size: 30px;
  padding: 4px;
}

/*  */

.files {
  margin: 30px 0;
}

.files .groupBox h3 {
  padding-bottom: 5px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  color: #2d3640;
  font-size: 23px;
  margin: 10px 0 10px;
  font-family: "Roboto", sans-serif;
}

.image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: contain;
}

.groupBox .filesBox {
  width: 90%;
  display: flex;
  margin: 20px auto;
}

.filesBox .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filesBox .wrapper h5 {
  display: block;
  width: 100%;
  margin: 0;
  color: #ced3d9;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.wrapper .upperBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .upperBox p {
  margin: 0;
  color: #646e78;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.wrapper .upperBox button {
  position: relative;
  padding: 10px;
  color: #646e78;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  border: none;
  margin-left: 10px;
}

.wrapper .upperBox button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b6babf;
  transition: 0.5s;
}

.wrapper .upperBox button:nth-child(3) .icon:hover {
  color: #f03a30;
}

.wrapper .upperBox button:nth-child(2) .icon:hover {
  color: #646e78;
}

.date {
  margin: 0;
  color: #646e78;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
}

@media (min-width: 1680px) {
  .menu input[type="text"] {
    width: 35%;
  }

  .selectBox {
    width: 35%;
  }

  .container main {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 1280px) {
  .container main {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 1100px) {
  .container main {
    width: 70%;
    margin: 0 auto;
  }
  .container main h1 {
    font-size: 30px;
  }
  .selectBox .select {
    font-size: 16px;
  }
  .selectBox::after {
    width: 10px;
    height: 7px;
  }
  .menu input[type="text"] {
    font-size: 16px;
  }
  .menu button .icon {
    font-size: 26px;
  }
  .files .groupBox h3 {
    font-size: 20px;
  }
  .image {
    width: 40px;
    height: 40px;
  }
  .filesBox .wrapper h5 {
    font-size: 12px;
  }
  .wrapper .upperBox p {
    font-size: 20px;
  }
  .wrapper .upperBox button {
    font-size: 18px;
  }
  .date {
    font-size: 12px;
  }
}
