.container {
  position: absolute;
  top: 0;
  left: 17%;
  width: 83%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #fff;
  z-index: 1;
}

.logoImg {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 120px;
  height: 45px;
  object-fit: cover;
}

.titileBox {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #646e78;
}

.returnBox {
  display: flex;
  align-items: center;
  color: #2d3640;
}

.returnBox .icon {
  margin: 20px 0 10px;
  font-size: 20px;
}
.returnBox p {
  font-weight: bold;
  font-family: "Roboto";
  font-size: 20px;
  margin: 20px 0 10px;
}

/*  */

.buttons {
  width: 55%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  border: none;
  background-color: #8097ff;
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  width: 30%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.buttons button:hover {
  background-color: #3054f2;
}

.buttons button[disabled] {
  background-color: #ced3d9;
}

.buttons button p {
  margin: 0;
  padding: 3px;
}

/*  */

.dataBox {
  width: 55%;
  margin: 0 auto;
}

.dataBox h1 {
  margin: 20px 0 0;
}

.basicData {
  border-bottom: 2px solid #646e78;
  margin: 20px 0 20px;
}

.basicData p {
  color: #2d3640;
  font-weight: 500;
  margin: 10px 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*  */

.basicDataBox {
  padding: 0 10px;
}

.basicDataBox .infoBox {
  display: flex;
  align-items: center;
  margin: 10px;
}

.infoBox h3 {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 20%;
  margin: 0;
  color: #424d58;
  font-weight: normal;
}

.infoBox p {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #2d3640;
  font-weight: 500;
  font-size: 18px;
}

/*  */

.titlesBox {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
}

.titlesBox p {
  font-family: "Roboto", sans-serif;
  color: #424d58;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin: 0;
  display: block;
  width: 32.5%;
}

/*  */

.notesBox {
  width: 80%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
}

.notesBox h3 {
  margin: 5px;
  color: #424d58;
  font-family: "Roboto", sans-serif;
}

.notesBox p {
  margin: 5px;
  color: #2d3640;
  font-family: "Roboto", sans-serif;
}

/* table */

.table {
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-spacing: 0;
  border-radius: 10px;
  border: 2px solid #ced3d9;
}

.table thead {
  background-color: rgba(230, 230, 230, 0.3);
  border: 2px solid black;
}

.table thead th {
  color: #646e78;
  padding: 15px;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 2px solid #ced3d9;
}

.table thead th div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table tbody td {
  text-align: center;
  color: #424d58;
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 2px solid #ced3d9;
}

.emptyData {
  text-align: center;
  width: 100%;
}

.table tbody tr:last-child td {
  border-bottom: none;
  border: none;
}

.trComments td {
  width: 20%;
}
