.tr {
  position: relative;
}

.options {
  position: absolute;
  top: 0;
  right: -12.5%;
  width: 10%;
  z-index: 10;
  background-color: #fff;
  padding: 0 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.options .option {
  display: flex;
  align-items: center;
}

.option .icon {
  margin-right: 5px;
  font-size: 16px;
  padding: 2px 5px 2px 0;
  border-right: 2px solid #424d58;
}

.option p {
  margin: 10px 0;
  font-size: 16px;
}

.triangleIcon {
  filter: drop-shadow(0 -3px 2px rgb(0 0 0 / 0.4));
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 10px;
  left: -13px;
}

.detailsRow {
  width: 100%;
}

.detailsRow tr {
  width: 100%;
  border-bottom: 2px solid #ced3d9;
}

.detailsRow .wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

.detailsRow td .details {
  width: 75%;
  height: 100%;
}

.detailsRow .productBox {
  display: flex;
  width: 100%;
  align-items: center;
}

.detailsRow .productBox .numbersBox {
  width: 70%;
  display: flex;
  align-items: center;
}

.detailsRow td .optionsBox {
  width: 25%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.detailsRow .optionsBox button {
  position: relative;
  background-color: #fff;
  border: none;
}

.detailsRow .optionsBox button:disabled .icon {
  color: #646e78;
}

.detailsRow .optionsBox button .tooltip {
  position: absolute;
  bottom: 0;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, 80%);
  visibility: hidden;
}

.detailsRow .optionsBox button .tooltip p {
  font-size: 14px;
}

.detailsRow .optionsBox button:hover .tooltip {
  visibility: visible;
}

.detailsRow .optionsBox button p {
  margin: 10px;
  color: #2d3640;
  font-size: 18px;
}

.detailsRow .optionsBox button .icon {
  display: block;
  width: 100%;
  margin-right: 5px;
  font-size: 22px;
  color: #2d3640;
  padding: 2px 5px 2px 0;
  transition: 0.5s;
}
.detailsRow .optionsBox button .iconReverse {
  transform: scale(-1, 1);
  margin-right: 5px;
  font-size: 22px;
  color: #2d3640;
  padding: 2px 5px 2px 0;
  transition: 0.5s;
}

.detailsRow .optionsBox button:hover .icon,
.detailsRow .optionsBox button:hover .iconReverse {
  color: #3054f2;
}

.detailsRow .productBox h4 {
  display: block;
  text-align: left;
  margin: 5px;
  min-width: 25%;
  padding-left: 20px;
}

.detailsRow .productBox p {
  text-align: left;
  margin: 5px;
}

/* checkbox */

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  background-color: #f5f5f5;
}

.container input:checked ~ .checkmark {
  background-color: #3054f2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
