.container main {
  margin: 20px auto;
  width: 70%;
  padding-bottom: 20px;
  border-radius: 10px;
}

.form {
  padding: 0 20px;
}

.form h1 {
  margin: 0;
  color: #2d3640;
}

.form p {
  margin: 0 0 15px 0;
  color: #2d3640;
}

.form .inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.form .submitBtn {
  border: none;
  background-color: #8097ff;
  width: 47%;
  height: 50px;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  transition: 0.5s;
}

.form button:hover {
  background-color: #3054f2;
}

.icon {
  font-size: 16px;
  margin-right: 5px;
}

.selectBox {
  width: 47%;
  height: 50px;
  margin-bottom: 40px;
}

.container .errorText {
  color: #f03a30;
  text-align: center;
}

@media (min-width: 1700px) {
  .form .inputBox {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1900px) {
  .form .inputBox {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 1450px) {
  .container main {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .container main {
    width: 80%;
  }

  .form .submitBtn {
    font-size: 20px;
    height: 45px;
  }
}
