.popup h1 {
  color: #2d3640;
  font-size: 30px;
  margin: 30px 0 0;
  text-align: center;
}

.icon {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 50px;
}

.popup .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button {
  width: 20%;
  background-color: #fff;
  border: none;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

.buttons button:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.popup .buttons button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup .buttons button p {
  font-size: 22px;
  color: #2d3640;
  font-family: "Roboto";
  font-weight: 500;
}

@media (min-width: 1800px) {
  .popup h1 {
    font-size: 36px;
  }
}

@media (max-width: 1400px) {
  .icon {
    right: 40px;
    font-size: 40px;
  }
}

@media (max-width: 1280px) {
  .buttons button {
    width: 25%;
  }
}

@media (max-width: 1100px) {
  .icon {
    top: 12%;
  }
  .buttons button {
    width: 30%;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .icon {
    top: 5%;
  }
  .buttons button {
    width: 35%;
  }
}

@media (max-width: 769px) and (orientation: portrait) {
  .icon {
    top: 9%;
  }
  .buttons button {
    width: 35%;
  }
}
