.form {
  background-color: #fff;
  padding: 10px 50px;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.form h1 {
  margin: 0;
  color: #000e4d;
}

.form p {
  margin: 0 0 15px 0;
  color: #000e4d;
}

.form .inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form button {
  border: none;
  background-color: #8097ff;
  width: 70%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  transition: 0.5s;
}

.form button:hover {
  background-color: #3054f2;
}

.error {
  display: block;
  font-size: 12px;
  margin: 0 0 15px;
  text-align: center;
  color: #f03a30;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .form {
    width: 35%;
  }

  .form .inputBox {
    width: 100%;
  }
  .form h1 {
    font-size: 30px;
  }
  .form p {
    font-size: 14px;
  }
  .form button {
    width: 90%;
    font-size: 20px;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .form {
    width: 50%;
  }
}

@media (max-width: 855px) and (orientation: landscape) {
  .form {
    width: 50%;
    top: 15%;
  }
}
