.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form h1 {
  margin: 0;
  color: #000e4d;
}

.form p {
  margin: 0 0 25px 0;
  color: #000e4d;
}

.form .inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.form button {
  border: none;
  background-color: #8097ff;
  width: 70%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 22px;
  transition: 0.5s;
}

.form button:hover {
  background-color: #3054f2;
}

.spinnerBox {
  position: relative;
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  z-index: 11;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  display: block;
  font-size: 12px;
  margin: 0 0 15px;
  text-align: center;
  color: #f03a30;
  font-weight: bold;
}

@media (max-width: 1380px) {
  .form {
    min-width: 55%;
  }
  .form .inputBox {
    width: 90%;
  }
}

@media (max-width: 1280px) {
  .form {
    min-width: 60%;
  }
  .form .inputBox {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .form {
    min-width: 70%;
  }
  .form .inputBox {
    width: 90%;
  }
}
