.container {
  position: absolute;
  top: 0;
  left: 17%;
  width: 83%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.container h1 {
  font-size: 40px;
  margin: 0;
  color: #2d3640;
}

.logoImg {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 120px;
  height: 45px;
  object-fit: cover;
}

.titileBox {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 3px solid #2d3640;
}

.logoutBtn {
  border: none;
  background-color: #f03a30;
  color: white;
  padding: 10px;
  width: 200px;
  margin: 30px;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 22px;
}

.logoutBtn:hover {
  background-color: #800700;
}
