.container {
  width: 70vw;
  margin: 0 auto;
}

.reports {
  position: relative;
  height: 50vh;
  width: 70vw;
  margin: 0 auto;
}

.reports .bilandBox {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  width: 70vw;
  margin: 0 auto;
}

.sumBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.sumBox .sum {
  user-select: none;
  position: relative;
  width: 25%;
  height: 6vw;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.5);
  color: #2d3640;
  font-family: "Roboto", sans-serif;
}

.sumBox .sum p {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 5px;
}

.sumBox .sum h2 {
  margin: 0;
  position: absolute;
  font-size: 36px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.sumBox .sum .difference {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
}

.sumBox .sum .difference .icon {
  margin-right: 5px;
}

.sumBox .sum .difference span {
  font-weight: bold;
}

.warning {
  user-select: none;
  position: relative;
  width: 80%;
  margin: 10px auto;
  background-color: #ffe1b2;
  border: 2px solid #f2a530;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.warning .icon {
  font-size: 38px;
  margin: 10px;
  margin-right: 20px;
  color: #f2a530;
}

.warning .messageBox h1 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  color: #f2a530;
}

.warning .messageBox p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  color: #f2a530;
}

.warning .cancel {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 38px;
  color: #f2a530;
}

@media (max-width: 1280px) {
  .container {
    width: 60vw;
  }
  .reports {
    width: 60vw;
  }
  .sumBox .sum p {
    font-size: 14px;
  }
  .sumBox .sum h2 {
    font-size: 30px;
  }
  .warning .icon {
    font-size: 32px;
  }
  .warning .messageBox h1 {
    font-size: 22px;
  }
  .warning .messageBox p {
    font-size: 16px;
  }
  .warning .cancel {
    top: 25%;
    right: 10px;
    font-size: 32px;
  }
}

@media (max-width: 1100px) {
  .container {
    width: 70vw;
  }
  .reports {
    width: 60vw;
  }
  .sumBox .sum p {
    font-size: 12px;
  }
  .sumBox .sum h2 {
    font-size: 26px;
  }
  .warning .icon {
    font-size: 28px;
  }
  .warning .messageBox h1 {
    font-size: 20px;
  }
  .warning .messageBox p {
    font-size: 14px;
  }
  .warning .cancel {
    top: 25%;
    right: 10px;
    font-size: 30px;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .container {
    width: 95%;
  }
  .reports {
    height: 30vh;
    width: 95vw;
  }
}

@media (max-height: 1100px) and (orientation: portrait) {
  .reports {
    height: 35vh;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .warning {
    width: 95%;
  }
  .sumBox {
    width: 95%;
  }
  .sumBox .sum {
    height: 8vw;
  }
}

@media (max-width: 855px) and (orientation: landscape) {
  .warning {
    width: 95%;
  }
  .sumBox {
    width: 95%;
  }
  .sumBox .sum {
    height: 8vw;
  }
  .reports {
    height: 55vh;
    width: 95%;
  }
}
