.container {
  position: absolute;
  top: 0;
  left: 17%;
  width: 83%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #fff;
  z-index: 1;
}

.logoImg {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 120px;
  height: 45px;
  object-fit: cover;
}

.titileBox {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #646e78;
}

.returnBox {
  display: flex;
  align-items: center;
  color: #2d3640;
}

.returnBox .icon {
  margin: 20px 0 10px;
  font-size: 20px;
}
.returnBox p {
  font-weight: bold;
  font-family: "Roboto";
  font-size: 20px;
  margin: 20px 0 10px;
}

/*  */

.dataBox {
  width: 80%;
  margin: 10px auto;
}

.dataBox .upperBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upperBox .logoBox {
  width: 50%;
}

.upperBox .logoBox img {
  object-fit: cover;
  width: 50%;
}

.datesData {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datesData .row {
  width: 100%;
  display: flex;
  width: 100%;
}

.datesData .row h4 {
  display: block;
  width: 50%;
  font-size: 15px;
  font-weight: 600;
  background-color: #f5f5f5;
  padding: 3px;
  border: 1px solid #646e78;
  text-align: center;
  margin: 0;
}

.datesData .row p {
  display: block;
  width: 50%;
  border: 1px solid #646e78;
  margin: 0;
  text-align: center;
  padding: 3px;
}

.dataBox .row:first-child h4,
.dataBox .row:first-child p {
  border-bottom: none;
}

.dataBox .row:last-child h4,
.dataBox .row:last-child p {
  border-top: none;
}

.dataBox .personalData {
  display: flex;
  justify-content: space-between;
}

.personalData .companyData {
  margin-top: 20px;
  width: 45%;
  padding-bottom: 5px;
  border-bottom: 1px solid #646e78;
}

.personalData .companyData h2 {
  margin: 0;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid #646e78;
}

.personalData .companyData p {
  margin: 0;
}

.dataBox h1 {
  margin-top: 30px;
  text-align: center;
}

/* Table */

.invoiceTable {
  border-spacing: 0;
  width: 100%;
}

.invoiceTable thead th {
  color: #2d3640;
  border: 1px solid #646e78;
  border-right: none;
  background-color: #f5f5f5;
  padding: 5px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.invoiceTable thead th:last-of-type {
  border-right: 1px solid #646e78;
}

.invoiceTable tbody td {
  color: #2d3640;
  text-align: center;
  border: 1px solid #646e78;
  border-top: none;
  border-right: none;
  padding: 5px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.invoiceTable tbody td:last-of-type {
  border-right: 1px solid #646e78;
}

/*  */

.dataBox .summaryTable {
  margin: 40px 0;
  width: 60%;
}

.tablesBox {
  position: relative;
  height: 32vh;
}

.dataBox .summaryBox {
  width: 60%;
}

.dataBox .summaryBox .upperBox {
  display: flex;
  background-color: #f5f5f5;
  border-top: 1px solid #646e78;
}

.dataBox .summaryBox .upperBox p {
  color: #2d3640;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 8px;
  margin: 0;
}

.dataBox .signatureBox {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

.dataBox .signatureBox .signature {
  margin: 60px 0;
  width: 45%;
}

.dataBox .signatureBox .signature h4 {
  margin: 0;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.dataBox .signatureBox .signature p {
  text-align: center;
  font-size: 20px;
}

.container .confirmBtn {
  display: block;
  margin: 0 auto;
  width: 30%;
  background-color: #8097ff;
  border: none;
  padding: 10px;
  font-size: 26px;
  color: white;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}
