.container main {
  margin: 20px auto;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 10px;
}

main .optionPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 0;
  font-family: "Roboto", sans-serif;
}

main .optionPanel .header {
  display: flex;
  align-items: center;
}

main .optionPanel h1 {
  color: #2d3640;
  font-size: 38px;
  margin: 10px 10px 10px 0;
}

main .optionPanel .addOption {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  transition: 0.5s;
}

main .optionPanel .addOption:hover {
  background-color: #e5eaff;
}

.optionPanel .addOption .icon {
  margin-right: 10px;
  font-size: 26px;
  color: #3054f2;
}

.optionPanel .addOption p {
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
}

.tableBox {
  padding-bottom: 10px;
  max-height: 78vh;
}

.selectBox {
  width: 47%;
  height: 50px;
  margin-bottom: 40px;
}

@media (min-width: 1700px) {
  .container main {
    width: 70%;
  }
}

@media (max-width: 1366px) {
  .container main {
    width: 85%;
  }
}

@media (max-width: 1100px) {
  .container main {
    width: 95%;
  }

  main .optionPanel h1 {
    font-size: 30px;
  }
  .optionPanel .addOption .icon {
    font-size: 22px;
  }

  .optionPanel .addOption p {
    font-size: 16px;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .container main {
    width: 98%;
  }
}

@media (max-width: 855px) and (orientation: landscape) {
  .container main {
    width: 98%;
  }
}
