.calendarContainer {
  width: 50%;
  margin: 0 auto;
}

.calendarContainer h1 {
  color: #2d3640;
  font-size: 38px;
  margin: 10px 0;
}

.eventBox {
  width: 50%;
  margin: 0 auto;
}

.eventBox h2 {
  font-weight: 500;
  color: #2d3640;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #2d3640;
}

.eventBox .eventContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.eventBox .event {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 10px 0;
}

.eventBox .event h3 {
  color: #2d3640;
  font-family: "Roboto", sans-serif;
  margin: 0;
  margin-right: 15px;
  font-size: 18px;
}

.eventBox .event p {
  color: #646e78;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}

.eventBox .plusIcon {
  margin-left: 10px;
  font-size: 18px;
  color: #646e78;
  transition: 0.5s;
}

.eventBox .minusIcon {
  margin-left: 10px;
  font-size: 18px;
  color: #646e78;
  transition: 0.5s;
}

.eventBox .minusIcon:hover {
  color: #f03a30;
}

.eventBox .plusIcon:hover {
  color: #3054f2;
}

.eventContainer .addBox {
  width: 90%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventContainer .addBox input[type="time"] {
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  padding: 8px 10px;
  width: 20%;
  height: 30px;
  border-radius: 5px;
  font-size: 22px;
  color: #777777;
}

.eventContainer .addBox input[type="time"]:focus {
  outline: none;
}

.eventContainer .addBox input[type="text"] {
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  padding: 8px 10px;
  width: 60%;
  height: 30px;
  border-radius: 5px;
  font-size: 22px;
  color: #777777;
}

.eventContainer .addBox input[type="text"]:focus {
  outline: none;
}

.eventContainer .addBox button {
  position: relative;
  border: none;
  height: 46px;
  width: 46px;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 22px;
  background-color: #8097ff;
  color: white;
  transition: 0.5s;
}

.eventContainer .addBox button:hover {
  background-color: #3054f2;
}

.addBox button .addIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1600px) {
  .eventContainer .addBox {
    width: 80%;
  }
}

@media (min-width: 1800px) {
  .calendarContainer {
    width: 45%;
  }
  .eventBox {
    width: 45%;
  }
  .eventContainer .addBox input[type="time"] {
    width: 17%;
    height: 35px;
  }

  .eventContainer .addBox input[type="text"] {
    height: 35px;
  }
  .eventContainer .addBox button {
    height: 51px;
    width: 51px;
  }
}

@media (min-width: 1900px) {
  .calendarContainer {
    width: 40%;
  }
  .eventBox {
    width: 45%;
  }
}

@media (max-width: 1440px) {
  .calendarContainer {
    width: 60%;
  }
  .eventBox {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .calendarContainer {
    width: 80%;
  }
  .eventBox {
    width: 80%;
  }
  .eventContainer .addBox input[type="time"] {
    font-size: 18px;
  }

  .eventContainer .addBox input[type="text"] {
    font-size: 18px;
  }
  .eventBox .event h3 {
    font-size: 16px;
  }

  .eventBox .event p {
    font-size: 16px;
  }
  .eventBox h2 {
    font-size: 22px;
  }
  .eventBox .plusIcon {
    font-size: 16px;
  }

  .eventBox .minusIcon {
    font-size: 16px;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .calendarContainer {
    width: 95%;
  }
  .eventBox {
    width: 95%;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .calendarContainer {
    width: 95%;
  }
  .eventBox {
    width: 95%;
  }
}
