.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35vw;
  height: 25vw;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.popup .icon {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  color: #f03a30;
}

.popup h2 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  text-align: center;
  padding: 5px 20px;
  font-family: "Roboto", sans-serif;
  color: #2d3640;
}

.popup p {
  position: absolute;
  top: 45%;
  left: 50%;
  display: block;
  width: 90%;
  transform: translateX(-50%);
  font-size: 22px;
  text-align: center;
  padding: 5px 20px;
  color: #2d3640;
}

.popup .buttons {
  position: absolute;
  width: 70%;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.popup .buttons h3 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  transition: 0.5s;
}

.popup .noBtn {
  position: relative;
  color: white;
  border: none;
  background-color: #b6babf;
  border-radius: 10px;
  width: 55%;
  padding: 15px;
  margin: 10px 5px;
  font-size: 20px;
  transition: 0.5s;
}

.popup .noBtn:hover {
  background-color: #8a8e92;
}

.popup .yesBtn {
  position: relative;
  color: white;
  background-color: #f03a30;
  border: 2px solid #f03a30;
  border-radius: 10px;
  width: 55%;
  padding: 15px;
  margin: 10px 10px 10px 5px;
  font-size: 20px;
  transition: 0.5s;
}

.popup .yesIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 30px;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  transition: 0.5s;
  visibility: hidden;
  color: #f03a30;
}

.popup .yesBtn:hover h3 {
  margin-left: 30px;
}

.popup .yesBtn:hover .yesIcon {
  background-color: #ff8680;
  visibility: visible;
}

@media (min-width: 1800px) {
  .popup {
    width: 30vw;
    height: 20vw;
  }
}

@media (max-width: 1400px) {
  .popup {
    width: 40vw;
    height: 28vw;
  }
}

@media (max-width: 1100px) {
  .popup {
    width: 40vw;
    height: 28vw;
  }
  .popup .icon {
    font-size: 70px;
  }

  .popup h2 {
    font-size: 22px;
  }

  .popup p {
    font-size: 18px;
  }
  .popup .yesBtn {
    width: 60%;
    padding: 10px;
  }
  .popup .buttons h3 {
    font-size: 18px;
  }

  .popup .noBtn {
    width: 60%;
    padding: 10px;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .popup {
    width: 50vw;
    height: 40vw;
  }
}

@media (max-width: 650px) and (orientation: portrait) {
  .popup {
    width: 65vw;
    height: 50vw;
  }
}

@media (max-width: 550px) and (orientation: portrait) {
  .popup {
    width: 75vw;
    height: 55vw;
  }
}

@media (max-width: 855px) and (orientation: landscape) {
  .popup {
    width: 50vw;
    height: 40vw;
  }
}
