.errorBox {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 40%;
  z-index: 20;
  display: flex;
  align-items: center;
  padding: 1px;
  text-align: center;
  border: 2px solid #f03a30;
  background-color: #ffb6b2;
  color: #f03a30;
  font-size: 16px;
  border-radius: 5px;
  user-select: none;
}

.errorBox .iconCancel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  color: #f03a30;
}

.errorBox p {
  font-family: "Roboto", sans-serif;
}

.errorBox .icon {
  font-size: 30px;
  margin-right: 10px;
}

@media (min-width: 1800px) {
  .errorBox {
    width: 30%;
  }
}

@media (max-width: 1400px) {
  .errorBox {
    width: 45%;
  }
}

@media (max-width: 1100px) {
  .errorBox {
    width: 60%;
  }

  .errorBox .checkIcon {
    font-size: 16px;
  }

  .errorBox .iconCancel {
    top: 5px;
    right: 5px;
    font-size: 20px;
  }

  .errorBox p {
    font-size: 14px;
  }
}
