.errorBox {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 40%;
  z-index: 20;
  display: flex;
  align-items: center;
  padding: 1px;
  text-align: center;
  border: 2px solid #f03a30;
  background-color: #ffb6b2;
  color: #f03a30;
  font-size: 16px;
  border-radius: 5px;
  user-select: none;
}

.errorBox .iconCancel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  color: #f03a30;
}

.errorBox p {
  font-family: "Roboto", sans-serif;
}

.errorBox .icon {
  font-size: 30px;
  margin-right: 10px;
}
