.container {
  width: 17%;
  position: fixed;
  z-index: 12;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.25);
  user-select: none;
  z-index: 10;
  height: 100vh;
  background-color: #f5f5f5;
  transition: 0.5s;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

/* Upper box */

.upperBox {
  width: 90%;
  padding: 14px 0 5px;
  border-bottom: 2px solid #646e78;
}

.userPanel {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(206, 211, 217, 0.7);
  border-radius: 15px;
  padding: 6px;
}

.userIcon {
  font-size: 34px;
  color: #424d58;
}

.powerOff {
  position: relative;
  background-color: #f03a30;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  transition: 0.5s;
}

.powerOff:hover {
  background-color: #ca0a00;
}

.powerOffIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #ced3d9;
  cursor: pointer;
}

.userPanel h4 {
  font-size: 21px;
  font-weight: normal;
  color: #424d58;
  margin: 0;
}

/* Lower Box */

.lowerBox {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.linkBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.iconDown {
  font-size: 20px;
}

.linkBox h2 {
  width: 70%;
  margin: 0;
  margin-left: 10px;
  font-weight: normal;
}

.detailsBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.detailsBox .iconRight {
  color: #646e78;
  margin-left: 10px;
}

.icon {
  font-size: 33px;
}

.iconS {
  font-size: 33px;
}

.detailsBox h3 {
  font-weight: normal;
  margin: 0;
  margin-left: 18px;
  color: #646e78;
  font-size: 20px;
}

.linkContainer {
  color: #646e78;
  margin-bottom: 10px;
}

.linkContainer .link {
  border-left: 2px solid #646e78;
  padding: 5px 10px;
  margin: 0 15px;
}

.linkContainer .link h3 {
  font-weight: normal;
  font-size: 22px;
  margin: 0;
  padding-left: 5px;
}

@media (min-width: 1900px) {
  .container {
    width: 15%;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 19%;
  }
}

@media (max-width: 1279px) {
  .container {
    width: 24%;
  }
}

@media (max-height: 700px) {
  .linkBox h2 {
    font-size: 20px;
  }

  .iconS {
    font-size: 28px;
  }

  .linkContainer .link {
    padding: 0 15px;
    margin: 0 15px;
  }

  .linkContainer .link h3 {
    font-size: 18px;
  }

  .userIcon {
    font-size: 30px;
  }
  .userPanel h4 {
    font-size: 18px;
  }
}
