.selectBox {
  position: relative;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  font-size: 22px;
  padding: 12px 10px;
  outline: none;
  color: #777777;
}

.selectBox::after {
  pointer-events: none;
  content: "";
  justify-self: end;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 13px;
  height: 10px;
  background-color: grey;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  transition: 0.5s;
}

.inputBox input:focus {
  outline: none;
}

.error {
  position: absolute;
  font-size: 12px;
  bottom: -18px;
  left: 10px;
  color: #f03a30;
  font-weight: bold;
}
