.succes {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 40%;
  display: flex;
  align-items: center;
  padding: 1px;
  text-align: center;
  background-color: #e5ffeb;
  border: 2px solid #22e650;
  color: #22e650;
  font-size: 16px;
  border-radius: 5px;
  user-select: none;
}

.succes .checkIcon {
  font-size: 20px;
  margin: 10px;
}

.succes .iconCancel {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  color: #22e650;
}

.succes p {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1800px) {
  .succes {
    width: 30%;
  }
}

@media (max-width: 1400px) {
  .succes {
    width: 45%;
  }
}

@media (max-width: 1100px) {
  .succes {
    width: 50%;
  }

  .succes .checkIcon {
    font-size: 16px;
  }

  .succes .iconCancel {
    top: 5px;
    right: 5px;
    font-size: 20px;
  }

  .succes p {
    font-size: 14px;
  }
}
