.container {
  position: absolute;
  top: 0;
  left: 17%;
  width: 83%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #f5f5f5;
  z-index: 1;
}

.container .titleDescription {
  display: flex;
  align-items: center;
}

.container h1 {
  font-size: 40px;
  margin: 0;
  color: #2d3640;
}

.container p {
  font-size: 22px;
  margin: 10px 20px 0;
  color: #2d3640;
}

.logoImg {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 120px;
  height: 45px;
  object-fit: cover;
}

.titileBox {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 3px solid #2d3640;
}

.container main {
  margin: 20px auto;
  width: 60%;
  padding-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
}

main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 2px solid #ced3d9;
}

.header p {
  margin: 0;
}

.header button {
  border: none;
  border-radius: 5px;
  background-color: #8097ff;
  color: white;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.header button .icon {
  margin-right: 10px;
  font-size: 24px;
}

.infoBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.infoBox .info {
  flex-basis: 45%;
  padding: 10px 10px 0;
}

.info h1 {
  font-size: 20px;
  font-weight: normal;
  color: #646e78;
}

.info p {
  font-size: 24px;
  margin: 5px;
  font-weight: bold;
  color: #424d58;
}

.historyBox {
  display: flex;
  flex-direction: column;
}

.historyBox .historyRow {
  display: flex;
  justify-content: space-around;
}

.historyRow h2 {
  font-weight: normal;
  font-size: 20px;
  margin: 5px;
  color: #424d58;
}
