.supplierBox {
  width: 50%;
  margin: 0 auto;
}

.supplierBox h1 {
  color: #2d3640;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.supplierBox .dataBox {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.supplierBox .dataBox h2 {
  width: 30%;
  color: #646e78;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 22px;
  margin: 5px;
}

.supplierBox .dataBox p {
  width: 70%;
  color: #2d3640;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 5px;
}

@media (max-width: 1450px) {
  .supplierBox {
    width: 60%;
  }
}

@media (max-width: 1280px) {
  .supplierBox {
    width: 65%;
  }
}

@media (max-width: 1100px) {
  .supplierBox {
    width: 70%;
  }
  .supplierBox h1 {
    font-size: 30px;
  }
  .supplierBox .dataBox h2 {
    font-size: 16px;
  }

  .supplierBox .dataBox p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) and (orientation: portrait) {
  .supplierBox {
    width: 80%;
  }
  .supplierBox h1 {
    font-size: 30px;
  }
  .supplierBox .dataBox h2 {
    font-size: 16px;
  }

  .supplierBox .dataBox p {
    font-size: 18px;
  }
}

@media (max-width: 855px) and (orientation: landscape) {
  .supplierBox {
    width: 80%;
  }
  .supplierBox h1 {
    font-size: 30px;
  }
  .supplierBox .dataBox h2 {
    font-size: 16px;
  }

  .supplierBox .dataBox p {
    font-size: 18px;
  }
}
