.icon {
  /* background-color: #f03a30; */
  padding: 2px;
  border-radius: 5px;
  pointer-events: none;
}

.locationBox {
  user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.description {
  font-family: "Roboto", sans-serif;
  padding: 0 5px;
  display: none;
  height: 100%;
  margin: 0;
}

.locationBox:hover {
  z-index: 30;
}

.locationBox:hover > .description {
  display: block;
}
