.container {
  position: absolute;
  top: 0;
  left: 17%;
  width: 83%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #fff;
  z-index: 1;
}

.logoImg {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 120px;
  height: 45px;
  object-fit: cover;
}

.titileBox {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #646e78;
}

.returnBox {
  display: flex;
  align-items: center;
  color: #2d3640;
}

.returnBox .icon {
  margin: 20px 0 10px;
  font-size: 20px;
}
.returnBox p {
  font-weight: bold;
  font-family: "Roboto";
  font-size: 20px;
  margin: 20px 0 10px;
}

/*  */

.imageBox {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.imageBox img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.innerBox button {
  position: absolute;
  top: 0;
  left: -50px;
  z-index: 20;
  width: 20%;
  border: none;
  font-size: 20px;
  background-color: #8097ff;
  border-radius: 5px;
  padding: 5px;
  color: white;
  transition: 0.5s;
}

.innerBox button:hover {
  background-color: #3054f2;
}

.innerBox button:nth-of-type(2) {
  top: 50px;
}

.imageBox .icon {
  position: absolute;
  z-index: 20;
  color: #f03a30;
}

.imageBox .innerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.locationBox {
  display: flex;
}

.description {
  display: none;
  position: absolute;
  z-index: 20;
  margin: 0;
}

.icon:hover + .description {
  display: block;
}
